@import '../../global.scss';

.register {
  height: 100vh;
  background-color: rgb(193, 190, 225);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;

    @include mobile {
      width: 75%;
    }

    .left {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      h1 {
        color: #555;

        @include mobile {
          text-align: center;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .errorMsg {
          color: rgb(255, 0, 0);
          text-align: center;
          background-color: rgba(255, 0, 0, 0.288);
          padding: 5px;
          border-radius: 3px;
        }
      }

      .toLoginContainer {
        display: none;

        @include mobile {
          display: block;
          text-align: center;

          span,
          button {
            font-size: 0.7rem;
          }

          button {
            opacity: 0.7;
          }
        }
      }

      input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 10px 20px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: rebeccapurple;
        color: white;
        font-weight: 600;
        cursor: pointer;
        margin: 0 auto;
      }
    }

    .right {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url('https://images.pexels.com/photos/3063910/pexels-photo-3063910.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      @include mobile {
        display: none;
      }

      h1 {
        font-size: 80px;
        line-height: 100px;
      }

      // p {
      // }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
